body {
  margin: 0;
}

navbar {
  background-color: #ffffff;
  display: flex; 
  padding: 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  z-index: 1;
}

.name-1 {
  flex: 3;
}

.home,.about-me,.contacts {
  flex: 1;
}

.contact {
  position: static;
  text-align: right;
}

.sidebar{
    display: inline-block;
    flex-direction: column;
    padding: .5em;
    height: 100vh;
    width: 25%;
    background-color: cornflowerblue;
  }
  
  .sidebar > div {
    padding-top: .5em;
    flex: 1;
  }
  
  .sidebar > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
    border-radius: 50%;
  }
  
  .name {
    text-align: center;
    font-size: 1.25em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
  }
  
  .sidebar > .contacts > a{
    width: 25%;  
  }
  
.main {
    display: inline-block;
    vertical-align: top;
    max-width: 65%;
    padding-right: auto;
    font-size: 75%;
  }
  
.main > img{
  display: inline;
}
  

    